.head {
    color: var(--background-blanco);
    /* específica el ancho del área de contenido de un elemento */
    width: 100%;
    /* (tamaño de caja) calcula ancho y alto total de un elemento */
    box-sizing: border-box;
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;
    /* border-bottom: 1px solid var(--border-cabecera-mobile); */

    position: absolute;
}

.head__logo {
    display: flex;
    margin-bottom: 1rem;
    /* Ubica nuestros elementos en eje principal */
    justify-content: space;
}

.head__navegacion {
    text-align: right; 

}

.head__enlace {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: .7rem;
    margin-left: .7rem;
}
